<link rel="stylesheet" href="assets/css/StyleLogin.css">

<!--********************************contenu de page Login********************************-->
<br>
<div class="container">
    <div class="card bg-dark card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="assets/img/avatar_2x.png" />

        <p id="profile-name" class="profile-name-card"></p>
        <!-- <h3 *ngIf='message'>
          {{message}}
         </h3> -->
         <div *ngIf="invalidLogin" class="error">
          <div class="text-danger">Invalied user or password. Please try again</div>
        </div>
        <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputEmail" class="form-control" formControlName="username" placeholder="Email" required autofocus autocomplete="off">
            <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched" class="alert alert-danger">Please enter user name</div>

            <input type="password" formControlName="password" id="inputPassword" class="form-control" placeholder="Mode Passe" required autocomplete="off">
            <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert alert-danger">Please enter password</div>

            <!-- <div id="remember" class="checkbox">
                <label class="text-light">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> -->
            <button class="btn btn-danger" [disabled]="loginForm.invalid">Connecte</button>
        </form><!-- /form -->
        <!-- <a href="#" class="forgot-password">
            Forgot the password?
        </a> -->
        <a routerLink="/Register" class="forgot-password">
            Inscription
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->
<br>

<script src="assets/js/JSLogin.js"></script>
