
<!--********************************footer********************************-->



<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Pages</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="/"><i class="fa fa-angle-double-right"></i>Accueil</a></li>
                    <li><a routerLink="films"><i class="fa fa-angle-double-right"></i>Films</a></li>
                    <li><a routerLink="apropos"><i class="fa fa-angle-double-right"></i>A propos</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Profile</h5>
                <ul class="list-unstyled quick-links">
                    <li><a routerLink="login"><i class="fa fa-angle-double-right"></i>Connecter</a></li>
                    <li><a routerLink="inscrire"><i class="fa fa-angle-double-right"></i>Inscrire</a></li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">copyright © 2019<a class="text-green ml-2" routerLink="/" style="font-size: 20px;">MovieFilm</a></p>
            </div>
            <br>
        </div>
    </div>
</section>
<!-- ./Footer -->
