<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/films">Films</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/apropos">A propos</a>
          </li>

      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="search" #search placeholder="Recherche..." aria-label="Search">
        <button class="btn btn-dark my-2 my-sm-0" (click)="OnSubmit(search.value)">Recherche</button>
      </div>
      <ul class="navbar-nav mr-5">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Connecter
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/login">Connecter</a>
            <a class="dropdown-item" routerLink="/inscrire">Inscrire</a>
            <a class="dropdown-item" *ngIf="token" (click)="logOut()">Deconnecter</a>

          </div>
        </li>
      </ul>
    </div>
  </nav>
