<br>
<div class="container">
<div class="row">
    <div class="col-6 col-md-4 centre1">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Tous Les Films</a>
        <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" (click)="SelectedListFilm(categorie.Id_categorie)" *ngFor="let categorie of categories" href="#list-home{{categorie.Id_categorie}}" role="tab" aria-controls="home">{{categorie.libelle}}</a>
        <!-- <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Fantastique</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Horreur</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Comédie </a> -->
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show" *ngFor="let categorie of categories" id="list-home{{categorie.Id_categorie}}" role="tabpanel" aria-labelledby="list-home-list" style="color: blanchedalmond;">

                <div class="row item-video1" *ngIf="films.length > 0">
                  <div class="col mt-3" *ngFor="let film of films">
                      <div class="card" style="width: 12rem;">

                          <iframe class="card-img-top owl-video" [src]="film.lien_film | youtube"></iframe>
                          <div class="card-body">
                            <h5 class="card-title text-body">{{film.titre_film}}</h5>
                            <p class="card-text text-body d-inline-block text-truncate" style="max-width: 150px;">{{film.description}}</p>
                            <a [routerLink]="['/details', film.Id_film]" class="btn btn-danger">Detail</a>
                          </div>
                        </div>


                  </div>
                </div>
                    <div class="alert alert-primary mt-5 text-center font-weight-bold" role="alert" *ngIf="!(films.length > 0)">
                      data vide
                    </div>


        </div>

        <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list" style="color: blanchedalmond;">

          <div class="row item-video1">
            <div class="col mt-3" *ngFor="let tousFilm of tousFilms">
                <div class="card" style="width: 12rem;">

                    <iframe class="card-img-top owl-video" [src]="tousFilm.lien_film | youtube"></iframe>
                    <div class="card-body">
                      <h5 class="card-title text-body">{{tousFilm.titre_film}}</h5>
                      <p class="card-text text-body d-inline-block text-truncate" style="max-width: 150px;">{{tousFilm.description}}</p>
                      <a class="btn btn-danger" [routerLink]="['/details', tousFilm.Id_film]">Detail</a>
                    </div>
                  </div>
            </div>

          </div>


  </div>


      </div>
    </div>
  </div>
</div>
<br>
