<!--***************************Slider************************************-->


<!-- Slider -->
<div id="slider">
    <div class="slides">
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Lorem ipsum dolor</h1>
            <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
          </div>
        </div>
        <div class="image">
          <img src="assets/img/B9720917078Z.1_20190915225434_000+GQTEEV1ST.1-0.jpg">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Lorem ipsum dolor</h1>
            <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
          </div>
        </div>
        <div class="image">
          <img src="assets/img/poster-image.jpg">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Lorem ipsum dolor</h1>
            <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
          </div>
        </div>
        <div class="image">
          <img src="assets/img/ionetflix.jpg">
        </div>
      </div>
      <div class="slider">
        <div class="legend"></div>
        <div class="content">
          <div class="content-txt">
            <h1>Lorem ipsum dolor</h1>
            <h2>Nam ultrices pellentesque facilisis. In semper tellus mollis nisl pulvinar vitae vulputate lorem consequat. Fusce odio tortor, pretium sit amet auctor ut, ultrices vel nibh.</h2>
          </div>
        </div>
        <div class="image">
          <img src="assets/img/maxresdefault.jpg">
        </div>
      </div>
    </div>
    <div class="switch">
      <ul>
        <li>
          <div class="on"></div>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="p-3 mb-2 bg-danger text-white"><br></div>

  <!--********************************contenu de la page*****************************-->

  <hr>
          <div class="container">

                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-8">
                      <p class="text-light" style="font-size: 20px;font-weight: bold;">Filmes D'action</p>


                        <owl-carousel-o [options]="customOptions">
                          <ng-container *ngFor="let listfilms of listfilm">
                        <ng-template carouselSlide>
                          <div class="card">
                            <iframe class="card-img image" [src]="listfilms.lien_film | youtube"></iframe>
                            <div class="card-body">
                              <h5 class="card-title">{{listfilms.titre_film}}</h5>
                              <p class="card-text">{{listfilms.description}}</p>
                              <a [routerLink]="['/details', listfilms.id]" class="btn btn-danger">Detail</a>
                            </div>
                          </div>
                        </ng-template>

                      </ng-container>

                    </owl-carousel-o>


                    <p class="text-light" style="font-size: 20px;font-weight: bold;">Filmes Comédie</p>


                        <owl-carousel-o [options]="customOptions">
                          <ng-container *ngFor="let listfilmComedies of listfilmComedie">
                        <ng-template carouselSlide>
                          <div class="card">
                            <iframe class="card-img image" [src]="listfilmComedies.lien_film | youtube"></iframe>
                            <div class="card-body">
                              <h5 class="card-title">{{listfilmComedies.titre_film}}</h5>
                              <p class="card-text">{{listfilmComedies.description}}</p>
                              <a [routerLink]="['/details', listfilmComedies.id]" class="btn btn-danger">Detail</a>
                            </div>
                          </div>
                        </ng-template>
                      </ng-container>

                    </owl-carousel-o>



                    <p class="text-light" style="font-size: 20px;font-weight: bold;">Filmes Fantastique</p>


                        <owl-carousel-o [options]="customOptions">
                          <ng-container *ngFor="let listfilmFantastiques of listfilmFantastique">
                        <ng-template carouselSlide>
                          <div class="card">
                            <iframe class="card-img image" [src]="listfilmFantastiques.lien_film | youtube"></iframe>
                            <div class="card-body">
                              <h5 class="card-title">{{listfilmFantastiques.titre_film}}</h5>
                              <p class="card-text">{{listfilmFantastiques.description}}</p>
                              <a [routerLink]="['/details', listfilmFantastiques.id]" class="btn btn-danger">Detail</a>
                            </div>
                          </div>
                        </ng-template>
                      </ng-container>

                    </owl-carousel-o>


                    </div>
                    <div class="col-6 col-md-4">

                        <p class="text-light" style="font-size: 20px;font-weight: bold;">Filmes Plus Récent</p>

                        <div class="card FilmPlusVu" *ngFor="let film of films" style="width:290px; margin-top: 10%;">
                          <div class="row">
                            <div class="col-sm-6">
                              <iframe class="card-img image" [src]="film.lien_film | youtube"></iframe>
                            </div>
                            <div class="col-sm-6">
                              <div class="card-body-right">
                                <h4 class="card-title">{{film.titre_film}}</h4>
                                <p class="card-text">{{film.description}}</p>
                                <a [routerLink]="['/details', film.id]" class="btn btn-danger">Detail</a>
                              </div>
                               </div>
                            </div>
                            </div>


                  </div>
                  </div>
                </div>
