<!--********************************contenu de page films********************************-->
<br>
<div class="container">

        <div class="row">
                <div class="col-12 col-sm-6 col-md-8 text-white embed-responsive embed-responsive-16by9">
                  <iframe
                  class="fullScreen"
                  [src]="film.lien_film | youtube"
                  frameborder="0"
                  scrolling="yes"
                  allowfullscreen>
                </iframe>
                </div>
                <div class="col-12 col-md-4 text-white">
                    <h3 class="smoll">{{film.titre_film}}</h3>
                    <span style="float: left;">
                      <p class="font-weight-bold" style="color: #dc3545;">Pseudo Film : </p>
                    </span>
                    <p class="smoll">{{film.pseudo}}</p>
                    <span style="float: left;">
                      <p class="font-weight-bold" style="color: #dc3545;">Description Film : </p>
                    </span>
                    <p class="smoll">{{film.description}}</p>
                    <span style="float: left;">
                      <p class="font-weight-bold" style="color: #dc3545;">Categorie Film : </p>
                    </span>
                    <p class="smoll">{{film.libelle}}</p>
                    <span style="float: left;">
                      <p class="font-weight-bold" style="color: #dc3545;">Date Film : </p>
                    </span>
                    <p class="smoll">{{film.Date}}</p>

                    <a class="btn btn-danger smoll" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <i class="fas fa-download"></i> Telecharger
                    </a>
                </div>
        </div>

        <div class="row mt-5 bg-dark pt-5 pb-5">
          <div class="col-12 col-sm-6 col-md-8 text-white" *ngFor="let commantaire of commantaires">
                  <p class="font-weight-bold" style="font-size: 20px;">{{commantaire.nom}} {{commantaire.prenom}}</p>
                 <p>{{commantaire.text_commantaire}}</p>
                 <figcaption class="figure-caption text-right text-white">{{commantaire.Date}}</figcaption>
                 <hr>
          </div>

          <div class="col-12 col-md-4 text-white">
            <form action="" [formGroup]="addForm">
            <textarea name="" id="" cols="30" rows="" [ngClass]="{ 'is-invalid': IsFiled && f.textCommantaire.errors }" class="form-control" name="textCommantaire" formControlName="textCommantaire"></textarea>
            <div *ngIf="IsFiled && f.textCommantaire.errors" class="invalid-feedback">
              <div *ngIf="f.textCommantaire.errors" class="cross-validation-error-message alert alert-danger">
                Entrer votre Commantaire
              </div>
              </div>
            <input type="button" class="btn btn-danger font-weight-bold" value="Commanter" (click)="onSubmit()">
          </form>
          </div>

  </div>



</div>
<br>
